@charset "UTF-8";
/*  RESET
 *  VARIÁVEIS
 *
 *  HEADER
 *  HOME
 *  SOBRE
 *  PORTFOLIO
 *  CONTATO
 *  FOOTER
*/
/* VARIÁVEIS */
.lines::after {
  content: "";
  display: block;
  width: 260px;
  height: 5px;
  background-color: #272727;
  margin: 10px auto 50px auto;
}

.lines::before {
  content: "";
  display: block;
  width: 260px;
  height: 5px;
  background-color: #272727;
  margin: 10px auto;
}

.title {
  font-family: "Fira Code";
  font-size: 2.25rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

/* 
  RESET 
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Fira Code";
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  color: #272727;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #272727;
}

/* HEADER */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  max-height: 200px;
  margin: 20px auto 0 auto;
}
@media (max-width: 679px) {
  .header {
    display: block;
    margin: 0;
  }
  .header-bg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    height: 100px;
  }
}
.header .menu__list {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: initial;
}
.header .menu__item {
  display: flex;
  align-items: center;
  min-height: 80px;
}
.header .menu__link {
  font-family: "Antonio";
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 3px;
  padding: 25px;
  text-transform: uppercase;
}
.header .menu__link:hover {
  text-decoration: underline;
  text-underline-offset: 7px;
}
@media (max-width: 476px) {
  .header .menu__link {
    letter-spacing: initial;
    padding: 10px;
  }
}

/* HOME */
.home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 80px 0;
}
@media (max-width: 679px) {
  .home {
    display: flex;
    flex-direction: column-reverse;
    justify-content: initial;
    align-items: center;
    background-color: #f5f5f5;
  }
}
.home .profile {
  max-width: 500px;
}
.home .profile__img {
  max-width: 100%;
}
@media (max-width: 476px) {
  .home .profile {
    width: 260px;
  }
}
.home .intro {
  max-width: 432px;
}
.home .intro__title {
  font-family: "Fira Mono";
  font-size: 3rem;
  font-weight: bold;
}
.home .intro__text {
  font-family: "Fira Code";
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 24px;
  max-width: 303px;
  margin: 22px 0 33px 0;
}
.home .intro__btn {
  font-family: "Fira Code";
  font-size: 1.375rem;
  font-weight: 400;
  padding: 13px 27px;
  border-radius: 5px;
  outline: none;
  border: 2px solid transparent;
  color: #fff;
  background-color: #3e464f;
  text-transform: uppercase;
  cursor: pointer;
}
.home .intro__btn:hover {
  color: #272727;
  border: 2px solid #3e464f;
  background-color: transparent;
}
@media (max-width: 679px) {
  .home .intro {
    max-width: initial;
    text-align: center;
    margin: 0 20px;
  }
  .home .intro__title {
    font-size: 2rem;
    margin-top: 60px;
  }
  .home .intro__text {
    max-width: initial;
  }
}

/* SOBRE */
.sobre {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  max-width: 770px;
  margin: 80px auto;
  padding: 20px;
}
.sobre .description {
  margin: 0 10px;
}
.sobre .description__title {
  font-family: "Fira Code";
  font-size: 2rem;
  font-weight: bold;
  line-height: 49px;
  margin: 44px 0 22px 0;
}
.sobre .description__text {
  font-family: "Fira Code";
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 27.5px;
}
.sobre .description__text:last-child {
  margin: 0;
}
@media (max-width: 679px) {
  .sobre .description__title {
    font-size: 1.625rem;
    line-height: 39.78px;
  }
}

/* PORTFÓLIO */
.portfolio {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}
.portfolio .card-c {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.portfolio .card-c .card {
  height: 300px;
  width: 300px;
  border-radius: 5px;
  background: linear-gradient(#272727, #3e464f);
  margin-bottom: 50px;
}
.portfolio .card-c .card__content {
  opacity: 0;
  visibility: hidden;
  padding: 25px;
  transition: all 0.4s ease;
}
.portfolio .card-c .card__content h2 {
  color: #fff;
}
.portfolio .card-c .card__content p {
  color: #f5f5f5;
  margin: 12px 0;
}
.portfolio .card-c .card__content .btn {
  background: #272727;
  color: #fff;
  border-radius: 5px;
  outline: none;
  border: 2px solid transparent;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.portfolio .card-c .card__content .btn:hover {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
}
@media (max-width: 439px) {
  .portfolio .card-c .card__content p {
    font-size: 0.8rem;
  }
}
.portfolio .card-c .card:hover .card__content {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 439px) {
  .portfolio .card-c .card {
    width: 250px;
    height: 250px;
  }
}

/* CONTATO */
.contato {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  max-width: 700px;
  margin: 30px auto 100px auto;
}
.contato .redes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 439px) {
  .contato .redes {
    flex-direction: column;
  }
  .contato .redes__icon {
    margin-bottom: 20px;
  }
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  height: 100px;
}
.footer-bg {
  background-color: #f5f5f5;
}
@media (max-width: 679px) {
  .footer {
    flex-direction: column;
    height: 100%;
  }
  .footer-bg {
    height: 200px;
    padding: 20px 0;
  }
}
.footer .logo,
.footer .direitos,
.footer .email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
  flex: 1;
}

/*# sourceMappingURL=styles.css.map */
