/*  RESET
 *  VARIÁVEIS
 *
 *  HEADER
 *  HOME
 *  SOBRE
 *  PORTFOLIO
 *  CONTATO
 *  FOOTER
*/

/* VARIÁVEIS */

// VALUES
$init: initial;

// COLORS
$black: #272727;
$white: #fff;
$blue: #3e464f;
$gray: #f5f5f5;

// FONT-SIZE
$font-sm: 1.125rem; // 18px
$font-md: 2rem; // 32px
$font-lg: 2.25rem; // 36px
$font-xl: 3rem; // 48px

// MIXIN
@mixin center {
  //CENTRALIZA O CONTAINER
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

// LINES
.lines::after {
  content: '';
  display: block;
  width: 260px;
  height: 5px;
  background-color: $black;
  margin: 10px auto 50px auto;
}

.lines::before {
  content: '';
  display: block;
  width: 260px;
  height: 5px;
  background-color: $black;
  margin: 10px auto;
}

@mixin flexbox($direction, $justify, $align) {
  //APLICA FLEX BOX
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin fonts($family, $size, $weight) {
  // DEFINE AS PROPRIEDADES DE FONTE
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
}

/* 
  RESET
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Fira Code';
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  color: $black;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $black;
}

/* HEADER */
.header {
  @include flexbox(row, space-between, center);
  @include center;
  max-height: 200px;
  margin: 20px auto 0 auto;

  @media (max-width: 679px) {
    display: block;
    margin: 0;
    &-bg {
      @include flexbox(row, center, center);
      background-color: $gray;
      height: 100px;
    }
  }
}

.menu {
  &__list {
    @include flexbox($init, center, $init);
  }

  &__item {
    display: flex;
    align-items: center;
    min-height: 80px;
  }
  &__link {
    @include fonts('Antonio', $font-sm, 500);
    letter-spacing: 3px;
    padding: 25px;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 7px;
    }

    @media (max-width: 476px) {
      letter-spacing: $init;
      padding: 10px;
    }
  }
}

/* HOME */

.home {
  @include flexbox(row, space-between, center);
  @include center();
  padding: 80px 0;

  @media (max-width: 679px) {
    @include flexbox(column-reverse, $init, center);
    background-color: $gray;
  }
}

.profile {
  max-width: 500px;

  &__img {
    max-width: 100%;
  }

  @media (max-width: 476px) {
    width: 260px;
  }
}

.intro {
  max-width: 432px;

  &__title {
    @include fonts('Fira Mono', $font-xl, bold);
  }

  &__text {
    @include fonts('Fira Code', $font-sm, 400);
    line-height: 24px;
    max-width: 303px;
    margin: 22px 0 33px 0;
  }

  &__btn {
    @include fonts('Fira Code', 1.375rem, 400);
    padding: 13px 27px;
    border-radius: 5px;
    outline: none;
    border: 2px solid transparent;
    color: $white;
    background-color: $blue;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      color: $black;
      border: 2px solid $blue;
      background-color: transparent;
    }
  }

  @media (max-width: 679px) {
    max-width: $init;
    text-align: center;
    margin: 0 20px;

    &__title {
      font-size: $font-md;
      margin-top: 60px;
    }

    &__text {
      max-width: $init;
    }
  }
}

/* SOBRE */
.sobre {
  @include center();
  max-width: 770px;
  margin: 80px auto;
  padding: 20px;
}

.title {
  @include fonts('Fira Code', $font-lg, 500);
  text-transform: uppercase;
  text-align: center;
}

.description {
  margin: 0 10px;

  &__title {
    @include fonts('Fira Code', $font-md, bold);
    line-height: 49px;
    margin: 44px 0 22px 0;
  }

  &__text {
    @include fonts('Fira Code', $font-sm, 400);
    line-height: 27.5px;

    &:last-child {
      margin: 0;
    }
  }

  @media (max-width: 679px) {
    &__title {
      font-size: 1.625rem;
      line-height: 39.78px;
    }
  }
}

/* PORTFÓLIO */

.portfolio {
  @include center();
  padding: 20px;
}

.card-c {
  @include flexbox(row, space-evenly, center);
  flex-wrap: wrap;

  &__card {
    height: 300px;
    width: 300px;
    border-radius: 5px;
    background-color: $blue;
    margin-bottom: 50px;

    @media (max-width: 439px) {
      width: 250px;
      height: 250px;
    }
  }
}

/* CONTATO */

.contato {
  @include center();
  max-width: 700px;
  margin: 30px auto 100px auto;
}

.redes {
  @include flexbox(row, space-evenly, center);
  flex-wrap: wrap;

  @media (max-width: 439px) {
    flex-direction: column;
    &__icon {
      margin-bottom: 20px;
    }
  }
}

/* FOOTER */
.footer {
  @include flexbox(row, $init, center);
  @include center();
  height: 100px;

  &-bg {
    background-color: $gray;
  }

  @media (max-width: 679px) {
    flex-direction: column;
    height: 100%;
    &-bg {
      height: 200px;
      padding: 20px 0;
    }
  }

  .logo,
  .direitos,
  .email {
    @include flexbox(column, center, $init);
    flex: 1;
  }
}
