/*  RESET
 *  VARIÁVEIS
 *  ESTILOS GERAIS
*/

/* 
  VARIÁVEIS
*/
// VALUES
$init: initial;

// COLORS
$black: #272727;
$white: #fff;
$blue: #3e464f;
$gray: #f5f5f5;

// FONT-SIZE
$font-sm: 1.125rem; // 18px
$font-md: 2rem; // 32px
$font-lg: 2.25rem; // 36px
$font-xl: 3rem; // 48px

// MIXIN
@mixin center {
  //CENTRALIZA O CONTAINER
  width: 100%;
  max-width: 1100px;
  margin: auto;
}

@mixin flexbox($direction, $justify, $align) {
  //APLICA FLEX BOX
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin fonts($family, $size, $weight) {
  // DEFINE AS PROPRIEDADES DE FONTE
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
}

/* 
  RESET
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Fira Code';
  font-size: 16px;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  color: $black;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $black;
}

/* HEADER */
.header {
  @include flexbox(row, space-between, center);
  @include center;
  height: 100px;

  @media (max-width: 679px) {
    display: block;

    &-bg {
      @include flexbox(row, center, center);
      background-color: $gray;
      min-height: 100px;
    }
  }
}

.menu {
  @include flexbox(row, center, center);
  height: 70px;

  &__list {
    @include flexbox($init, $init, $init); // BASTA INCLUIR DISPLAY: FLEX;
  }
  &__link {
    @include fonts('Antonio', $font-sm, 500);
    letter-spacing: 3px;
    padding: 25px;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 7px;
    }

    @media (max-width: 476px) {
      letter-spacing: $init;
      padding: 10px;
    }
  }
}

/* HOME */

.home {
  @include flexbox(row, space-between, center);
  @include center();
  margin: 80px auto;
}

.profile {
  max-width: 500px;
  min-width: 250px;

  &__img {
    max-width: 100%;
  }
}

.intro {
  // background-color: blue;
  max-width: 432px;
  min-width: 432px;

  &__title {
    @include fonts('Fira Mono', $font-xl, bold);
  }

  &__text {
    @include fonts('Fira Code', $font-sm, 400);
    line-height: 24px;
    max-width: 303px;
    margin: 22px 0 33px 0;
  }

  &__btn {
    @include fonts('Fira Code', 1.375rem, 400);
    padding: 13px 27px;
    border-radius: 5px;
    outline: none;
    border: 2px solid transparent;
    color: $white;
    background-color: $blue;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      color: $black;
      border: 2px solid $blue;
      background-color: transparent;
    }
  }
}
